{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('account') }}
{% endblock %}

{% block title %}WP | Mon compte{% endblock %}

{% block body %}

<header class="account-header" style="background-image:url('{{ asset('build/images/account-header.webp') }}')">
    <p>MON COMPTE</p>
</header>

<section class="account">

    <h1>BIENVENUE SUR VOTRE COMPTE</h1>

    <div class="account-buttons">
        <a class="contact-button" href="{{ path('contact') }}">NOUS CONTACTER</a>
        <a class="deco-button" href="{{ path('app_logout') }}">SE DÉCONNECTER</a>
    </div>

</section>

{% endblock %}
