{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block title %}WP | Connexion{% endblock %}

{% block body %}

<header style="background-image:url('{{ asset('build/images/connexion.webp') }}')">
    <p>CONNEXION</p>
</header>

<section class="connexion">

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}
            <br><br>
            <a class="logout-button" href="{{ path('app_logout') }}">SE DÉCONNECTER</a>
        </div>
    {% endif %}

    {% if error %}
        <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="connexion-form">
        <form method="post">
            <div class="form-group">
                <label for="inputEmail">EMAIL</label>
                <br>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="exemple@mail.fr">
            </div>
            <br>
            <div class="form-group">
                <label for="inputPassword">MOT DE PASSE</label>
                <br>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="********" required>
            </div>

            <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
            >

            <a class="request-password-link" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
            <!-- 
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            -->

            <br>

            <button class="btn btn-lg btn-primary" type="submit">
                SE CONNECTER
            </button>
        </form>
    </div>

    <a class="account-button" href="{{ url('app_register') }}">CRÉER UN COMPTE</a>

</section>
{% endblock %}
