{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block title %}Workout Place | Accueil{% endblock %}

{% block body %}

<header style="background-image: url('{{ asset('build/images/home-header.jpg') }}');"></header>

<section class="choose">
    <h1>POURQUOI NOUS CHOISIR ?</h1>
    <p id="choose-presentation">
        WORKOUT PLACE est une toute nouvelle salle de sport, proposant de nombreux services à tous ses pratiquants.
        Tout est pensé pour vous donner envie de vous entraîner et de vous surpasser !
    </p>

    <div class="choose-cards">
        <div id="choose-card-1">
            <div id="title-1">
                <img src="{{ asset('build/images/clock.png') }}" alt="Clock icon">
                <h2>OUVERT 24H/24 - 7J/7</h2>
            </div>
            <p>
                Venez vous entraîner à l'heure
                que vous souhaitez !
                L'accueil est ouvert tous les jours
                de 8h à 18h.
            </p>
        </div>
        <div id="choose-card-2">
            <div id="title-2">
                <img src="{{ asset('build/images/dumbbell.png') }}" alt="Dumbbell icon">
                <h2>MATÉRIEL DERNIER CRI</h2>
            </div>
            <p>
                Toutes nos machines sont les plus récentes,
                elles ont été choisies et testées
                pour vous permettre de progresser.
                N'hésitez pas à toutes les essayer !
            </p>
        </div>
        <div id="choose-card-3">
            <div id="title-3">
                <img src="{{ asset('build/images/gym.png') }}" alt="Gym icon">
                <h2>SALLE DE 10 000 M²</h2>
            </div>
            <p>
                Bienvenue dans la plus grande
                salle de sport de France !
                Vous trouverez tout ce dont vous avez besoin,
                pour les exercices que vous voulez !
            </p>
        </div>
        <a id="subscribe-button" href="{{ url('subscribe') }}">NOS ABONNEMENTS</a>
    </div>
</section>

<section class="spaces">
    <h1>DES ESPACES POUR TOUS</h1>
    <p>
        Notre salle comporte de nombreux espaces adaptés
        à tous vos besoins et à tous les sports
        que vous souhaitez pratiquer.
    </p>

    <div class="spaces-cards">
            <div id="space-card-1" style="background-image: url('{{ asset('build/images/fitness.jpg') }}');">
                <a href="{{ path('space.show', {slug: 'musculation'}) }}">MUSCULATION</a>
            </div>
            <div id="space-card-2" style="background-image: url('{{ asset('build/images/crossfit.jpg') }}');">
                <a href="{{ path('space.show', {slug: 'crossfit'}) }}">CROSSFIT</a>
            </div>
            <div id="space-card-3" style="background-image: url('{{ asset('build/images/sauna.jpg') }}');">
                <a href="{{ path('space.show', {slug: 'sauna'}) }}">SAUNA/DÉTENTE</a>
            </div>
        <a id="spaces-button" href="{{ url('space') }}">TOUS NOS ESPACES</a>
    </div>
</section>

<section class="coach">
    <h1>DES COACHS DIPLOMÉS</h1>
    <p id="coach-presentation">
        Notre équipe est composée de 6 coachs diplomés
        et spécialisés dans différents domaines.
        Ils seront toujours à votre écoute
        et vous dispenseront de nombreux cours.
    </p>

    <div id="coach-photo" style="background-image: url('{{ asset('build/images/team.jpg') }}');"></div>

    <div id="pilates">
        <h2>PILATES</h2>
        <span></span>
        <p>
            Le Pilates est une méthode d'entraînement qui allie
            renforcement musculaire, alignement postural et respiration contrôlée, et qui s'adresse à tous.
        </p>
    </div>

    <div id="body">
        <h2>BODY ATTACK</h2>
        <span></span>
        <p>
            Le Body Attack est un programme de fitness énergique
            qui combine des mouvements athlétiques, tels que la course et les sauts, avec des exercices de renforcement.
        </p>
    </div>

    <div id="hiit">
        <h2>HIIT STEP</h2>
        <span></span>
        <p>
            Le HIITSTEP est un entraînement en intervalles
            de haute intensité qui utilise une plateforme d'escalier
            pour des exercices dynamiques.
        </p>
    </div>

    <a id="coach-button" href="{{ url('lesson') }}">NOS DIFFÉRENTS COURS</a>
</section>

<section class="news">
    <h1>SUIVEZ NOS ACTUALITÉS !</h1>
    <p id="news-presentation">
        Sur notre site, vous trouverez de nombreux contenus
        que nous vous avons préparés pour mieux
        aborder votre quotidien à travers,
        par exemple, vos entraînements et vos repas.
    </p>

    <div class="news-cards">
        <div id="news-card-1" style="background-image: url('{{ asset('build/images/workout.jpg') }}');">
            <a href="{{ path('news.show', {slug: 'full-body'}) }}">PROGRAMME FULL BODY</a>
        </div>
        <div id="news-card-2" style="background-image: url('{{ asset('build/images/playlist.jpg') }}');">
            <a href="{{ path('news.show', {slug: 'playlist'}) }}">PLAYLIST DE LA SEMAINE</a>
        </div>
        <div id="news-card-3" style="background-image: url('{{ asset('build/images/poke.jpg') }}');">
            <a href="{{ path('news.show', {slug: 'poke'}) }}">LE POKÉ HYPER PROTÉINÉ</a>
        </div>
    <a id="news-button" href="{{ url('news') }}">LES DERNIÈRES NOUVEAUTÉS</a>
</div>
</section>

{% endblock %}
