{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('connexion') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('connexion') }}
{% endblock %}

{% block title %}WP | Connexion{% endblock %}

{% block body %}

<header class="connexion-header" style="background-image:url('{{ asset('build/images/connexion.jpg') }}')">
    <p>CONNEXION</p>
</header>

<section class="connexion">
    
    <div class="connexion-form">
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username" class="form-label">EMAIL</label>
                <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@mail.fr">
            </div>
            <br>
            <div class="form-group">
                <label for="password" class="form-label">MOT DE PASSE</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="********">
            </div>
            <br>
            <button type="submit">SE CONNECTER</button>
        </form>
    </div>

    <a class="account-button" href="{{ url('createAccount') }}">CRÉER UN COMPTE</a>

</section>

{% endblock %}