{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('space') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('space') }}
{% endblock %}

{% block title %}

{% if slug == 'musculation' %}
Workout Place | Musculation
{% endif %}

{% if slug == 'cardio-abdos' %}
Workout Place | Cardio-Abdos
{% endif %}

{% if slug == 'crossfit' %}
Workout Place | Crossfit
{% endif %}

{% if slug == 'boxe' %}
Workout Place | Boxe
{% endif %}

{% if slug == 'sauna' %}
Workout Place | Sauna
{% endif %}

{% endblock %}

{% block body %}

{% if slug == 'musculation' %}

    <header style="background-image:url('{{ asset('build/images/fitness-header.jpg') }}')">
        <div class="header-title">
            <p>MUSCULATION</p>
            <img src="{{ asset('build/images/fitness-icon.png') }}" alt="Logo Musculation">
        </div>
    </header>

    <section class="space-content">
        <p>
            La musculation consiste à effectuer des exercices<br>
            pour développer la taille et la force des muscles.<br>
            C'est une activité qui demande du temps et<br>
            de l'effort pour obtenir des résultats.
        </p>
        <img src="{{ asset('build/images/fitness-1.jpg') }}" alt="Image 1 musculation">
        <p>
            Vous pouvez effectuer des programmes full-body,<br>
            qui permettent de travailler toutes les zones musculaires<br>
            et de gagner rapidement en volume et en force,<br>
            mais également faire une séance par muscle isolé.
        </p>
        <img src="{{ asset('build/images/fitness-2.jpg') }}" alt="Image 2 musculation">
        <p>
            La musculation ne se limite pas à l'entraînement.<br>
            La nutrition joue un rôle essentiel.<br>
            Vos coachs sont disponibles pour vous écouter<br>
            et vous donner tous les conseils nécessaires.
        </p>
        <img src="{{ asset('build/images/fitness-3.jpg') }}" alt="Image 3 musculation">
        <p>
            Dans notre espace "Musculation", vous pourrez<br>
            trouver toutes les machines les plus récentes.<br>
            Elles vous permettront de travailler et de progresser<br>
            dans les meilleures conditions.
        </p>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CARDIO/ABDOS
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            CROSSFIT
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            BOXE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'sauna'}) }}">
            SAUNA/DÉTENTE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% if slug == 'cardio-abdos' %}

    <header style="background-image:url('{{ asset('build/images/cardio-header.jpg') }}')">
        <div class="header-title">
            <p>CARDIO/ABDOS</p>
            <img src="{{ asset('build/images/cardio-icon.png') }}" alt="Logo Cardio">
        </div>
    </header>

    <section class="space-content">
        <p>
            Pour brûler les graisses et renforcer les abdominaux,<br>
            rien de mieux que le combo cardio/abdos !<br>
            Allier ses pratiques à de bonnes séances de musculation<br>
            fera apparaître des résultats encore plus rapidement.
        </p>
        <img src="{{ asset('build/images/cardio-1.jpg') }}" alt="Image 1 cardio">
        <p>
            Nous vous conseillons de faire en moyenne<br>
            entre 20 et 30 minutes de cardio par jour.<br>
            Vous pouvez les faire avant la musculation,<br>
            ou après...ou bien les 2 (en divisant votre temps en 2).
        </p>
        <img src="{{ asset('build/images/cardio-2.jpg') }}" alt="Image 2 cardio">
        <p>
            Allier la musculation et le cardio, c'est bien, mais<br>
            ajouter en plus une session abdos, c'est encore mieux !<br>
            Un bon circuit de 4-5 exercices d'abdos, à la fin de<br>
            chaque séance, vous fera le plus grand bien.
        </p>
        <img src="{{ asset('build/images/cardio-3.jpg') }}" alt="Image 3 cardio">
        <p>
            Tapis de course, rameurs, vélos, escaliers,<br>
            poids libres, machines pour abdos...<br>
            Une large sélection de matériel est à votre<br>
            disposition dans notre espace "Cardio/Abdos".
        </p>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            MUSCULATION
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            CROSSFIT
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            BOXE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'sauna'}) }}">
            SAUNA/DÉTENTE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% if slug == 'crossfit' %}

    <header style="background-image:url('{{ asset('build/images/crossfit-header.jpg') }}')">
        <div class="header-title">
            <p>CROSSFIT</p>
            <img src="{{ asset('build/images/crossfit-icon.png') }}" alt="Logo Crossfit">
        </div>
    </header>

    <section class="space-content">
        <p>
            Le Crossfit combine principalement la force athlétique,<br>
            l'haltérophilie, la gymnastique et les sports d'endurance.<br>
            Les pratiquants du CrossFit courent, rament,<br>
            grimpent à la corde, sautent, déplacent des objets...
        </p>
        <img src="{{ asset('build/images/crossfit-1.jpg') }}" alt="Image 1 crossfit">
        <p>
            Vous n'avez pas besoin d'être en forme pour<br>
            commencer le CrossFit.<br>
            Au contraire, vous rejoignez le CrossFit<br>
            pour devenir plus fort et plus en forme.
        </p>
        <img src="{{ asset('build/images/crossfit-2.jpg') }}" alt="Image 2 crossfit">
        <p>
            Vos objectifs et vos efforts détermineront vos résultats.<br>
            En général, les participants se sentent plus en forme,<br>
            mais aussi plus forts et améliorent<br>
            considérablement leur endurance.
        </p>
        <img src="{{ asset('build/images/crossfit-3.jpg') }}" alt="Image 3 crossfit">
        <p>
            Nous avons amménagé un espace de plus de 2000m²<br>
            destiné essentiellement à la pratique du Crossfit.<br>
            De plus, nous mettons tous les jours de nouveaux<br>
            programmes (WOD) à votre disposition.
        </p>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            MUSCULATION
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CARDIO/ABDOS
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            BOXE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'sauna'}) }}">
            SAUNA/DÉTENTE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% if slug == 'boxe' %}

    <header style="background-image:url('{{ asset('build/images/boxe-header.jpg') }}')">
        <div class="header-title">
            <p>BOXE</p>
            <img src="{{ asset('build/images/boxe-icon.png') }}" alt="Logo Boxe">
        </div>
    </header>

    <section class="space-content">
        <p>
            La boxe sollicite l'ensemble de votre corps.<br>
            Vous renforcez vos muscles, améliorez votre endurance<br>
            et développez votre coordination.<br>
            Elle est un ensemble de plusieurs pratiques sportives.
        </p>
        <img src="{{ asset('build/images/boxe-1.jpg') }}" alt="Image 1 boxe">
        <p>
            Avant chaque séance, échauffez-vous bien<br>
            pour préparer votre corps.<br>
            Le shadow-boxing (boxe dans le vide) vous permet<br>
            de répéter vos gestes et d'améliorer votre technique.
        </p>
        <img src="{{ asset('build/images/boxe-2.jpg') }}" alt="Image 2 boxe">
        <p>
            Nos cours de boxe se font généralement en groupe.<br>
            Vous partagez l'expérience avec d'autres passionnés,<br>
            ce qui favorise la motivation et l'entraide.<br>
            Nos coachs vous guident et vous aident à progresser.
        </p>
        <img src="{{ asset('build/images/boxe-3.jpg') }}" alt="Image 3 boxe">
        <p>
            Notre espace "Boxe" comporte 4 rings,<br>
            10 sacs de frappe, tout le matériel nécessaire,<br>
            et une partie réservée à l'échauffement.<br>
            Alors, qu'attendez-vous pour boxer ?
        </p>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            MUSCULATION
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CARDIO/ABDOS
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            CROSSFIT
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'sauna'}) }}">
            SAUNA/DÉTENTE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% if slug == 'sauna' %}

    <header style="background-image:url('{{ asset('build/images/sauna-header.jpg') }}')">
        <div class="header-title">
            <p>SAUNA/DÉTENTE</p>
            <img src="{{ asset('build/images/sauna-icon.png') }}" alt="Logo Sauna">
        </div>
    </header>

    <section class="space-content">
        <p>
            Après une bonne séance, rien de tel qu'un passage<br>
            par l'espace "Sauna/Détente" pour se ressourcer.<br>
            Le sauna aide à détendre les muscles fatigués<br>
            et à éliminer les toxines accumulées pendant l'exercice.
        </p>
        <img src="{{ asset('build/images/sauna-1.jpg') }}" alt="Image 1 sauna">
        <p>
            L'espace détente est conçu pour offrir une atmosphère<br>
            apaisante et conviviale. Les lumières tamisées,<br>
            les arômes délicats et la musique douce créent<br>
            une ambiance propice à la relaxation. 
        </p>
        <img src="{{ asset('build/images/sauna-2.jpg') }}" alt="Image 2 sauna">
        <p>
            Le sauna ne se contente pas de détendre les muscles,<br>
            il a également des effets bénéfiques sur l'esprit.<br>
            La chaleur stimule la circulation sanguine, améliore<br>
            la qualité du sommeil et aide à réduire le stress.
        </p>
        <img src="{{ asset('build/images/sauna-3.jpg') }}" alt="Image 3 sauna">
        <p>
            Intégrer un instant de détente à votre routine sportive<br>
            peut améliorer vos performances et votre récupération.<br>
            En plus de favoriser la détente musculaire, cela aidera à<br>
            prévenir les courbatures et à accélérer la récupération.
        </p>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            MUSCULATION
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CARDIO/ABDOS
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            CROSSFIT
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            BOXE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% endblock %}