{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('space') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('space') }}
{% endblock %}

{% block title %}

{% if slug == 'musculation' %}
WP | Musculation
{% endif %}

{% if slug == 'cardio-abdos' %}
WP | Cardio-Abdos
{% endif %}

{% if slug == 'crossfit' %}
WP | Crossfit
{% endif %}

{% if slug == 'boxe' %}
WP | Boxe
{% endif %}

{% if slug == 'sauna' %}
WP | Sauna
{% endif %}

{% endblock %}

{% block body %}

{% if slug == 'musculation' %}

    <header class="space-header" style="background-image:url('{{ asset('build/images/fitness-header.jpg') }}')">
        <div class="header-title">
            <p class="header-title-p">MUSCULATION</p>
            <img class="header-title-img" src="{{ asset('build/images/fitness-icon.png') }}" alt="Logo Musculation">
        </div>
    </header>

    <section class="space-content">
        <p>
            La musculation consiste à effectuer des exercices
            pour développer la taille et la force des muscles.
            C'est une activité qui demande du temps et
            de l'effort pour obtenir des résultats.
        </p>
        <div class="content-all">
            <div class="content-all">
                <div class="content-1">
                    <img src="{{ asset('build/images/fitness-1.jpg') }}" alt="Image 1 musculation">
                    <p>
                        Vous pouvez effectuer des programmes full-body,
                        qui permettent de travailler toutes les zones musculaires
                        et de gagner rapidement en volume et en force,
                        mais également faire une séance par muscle isolé.
                    </p>
                </div>
                <div class="content-2">
                    <img src="{{ asset('build/images/fitness-2.jpg') }}" alt="Image 2 musculation">
                    <p>
                        La musculation ne se limite pas à l'entraînement
                        La nutrition joue un rôle essentiel.
                        Vos coachs sont disponibles pour vous écouter
                        et vous donner tous les conseils nécessaires.
                    </p>
                </div>
                <div class="content-3">
                    <img src="{{ asset('build/images/fitness-3.jpg') }}" alt="Image 3 musculation">
                    <p>
                        Dans notre espace "Musculation", vous pourrez
                        trouver toutes les machines les plus récentes.
                        Elles vous permettront de travailler et de progresser
                        dans les meilleures conditions.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CARDIO/ABDOS
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            CROSSFIT
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            BOXE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'sauna'}) }}">
            SAUNA/DÉTENTE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% if slug == 'cardio-abdos' %}

    <header class="space-header" style="background-image:url('{{ asset('build/images/cardio-header.jpg') }}')">
        <div class="header-title">
            <p class="header-title-p">CARDIO/ABDOS</p>
            <img class="header-title-img" src="{{ asset('build/images/cardio-icon.png') }}" alt="Logo Cardio">
        </div>
    </header>

    <section class="space-content">
        <p>
            Pour brûler les graisses et renforcer les abdominaux,
            rien de mieux que le combo cardio/abdos !
            Allier ses pratiques à de bonnes séances de musculation
            fera apparaître des résultats encore plus rapidement.
        </p>
        <div class="content-all">
            <div class="content-1">
                <img src="{{ asset('build/images/cardio-1.jpg') }}" alt="Image 1 cardio">
                <p>
                    Nous vous conseillons de faire en moyenne
                    entre 20 et 30 minutes de cardio par jour.
                    Vous pouvez les faire avant la musculation,
                    ou après...ou bien les 2 (en divisant votre temps en 2).
                </p>
            </div>
            <div class="content-2">
                <img src="{{ asset('build/images/cardio-2.jpg') }}" alt="Image 2 cardio">
                <p>
                    Allier la musculation et le cardio, c'est bien, mais
                    ajouter en plus une session abdos, c'est encore mieux !
                    Un bon circuit de 4-5 exercices d'abdos, à la fin de
                    chaque séance, vous fera le plus grand bien.
                </p>
            </div>
            <div class="content-3">
                <img src="{{ asset('build/images/cardio-3.jpg') }}" alt="Image 3 cardio">
                <p>
                    Tapis de course, rameurs, vélos, escaliers,
                    poids libres, machines pour abdos...
                    Une large sélection de matériel est à votre
                    disposition dans notre espace "Cardio/Abdos".
                </p>
            </div>
        </div>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            MUSCULATION
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            CROSSFIT
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            BOXE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'sauna'}) }}">
            SAUNA/DÉTENTE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% if slug == 'crossfit' %}

    <header class="space-header" style="background-image:url('{{ asset('build/images/crossfit-header.jpg') }}')">
        <div class="header-title">
            <p class="header-title-p">CROSSFIT</p>
            <img class="header-title-img" src="{{ asset('build/images/crossfit-icon.png') }}" alt="Logo Crossfit">
        </div>
    </header>

    <section class="space-content">
        <p>
            Le Crossfit combine principalement la force athlétique,
            l'haltérophilie, la gymnastique et les sports d'endurance.
            Les pratiquants du CrossFit courent, rament,
            grimpent à la corde, sautent, déplacent des objets...
        </p>
        <div class="content-all">
            <div class="content-1">
                <img src="{{ asset('build/images/crossfit-1.jpg') }}" alt="Image 1 crossfit">
                <p>
                    Vous n'avez pas besoin d'être en forme pour
                    commencer le CrossFit.
                    Au contraire, vous rejoignez le CrossFit
                    pour devenir plus fort et plus en forme.
                </p>
            </div>
            <div class="content-2">
                <img src="{{ asset('build/images/crossfit-2.jpg') }}" alt="Image 2 crossfit">
                <p>
                    Vos objectifs et vos efforts détermineront vos résultats.
                    En général, les participants se sentent plus en forme,
                    mais aussi plus forts et améliorent
                    considérablement leur endurance.
                </p>
            </div>
            <div class="content-3">
                <img src="{{ asset('build/images/crossfit-3.jpg') }}" alt="Image 3 crossfit">
                <p>
                    Nous avons amménagé un espace de plus de 2000m²
                    destiné essentiellement à la pratique du Crossfit.
                    De plus, nous mettons tous les jours de nouveaux
                    programmes (WOD) à votre disposition.
                </p>
            </div>
        </div>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            MUSCULATION
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CARDIO/ABDOS
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            BOXE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'sauna'}) }}">
            SAUNA/DÉTENTE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% if slug == 'boxe' %}

    <header class="space-header" style="background-image:url('{{ asset('build/images/boxe-header.jpg') }}')">
        <div class="header-title">
            <p class="header-title-p">BOXE</p>
            <img class="header-title-img" src="{{ asset('build/images/boxe-icon.png') }}" alt="Logo Boxe">
        </div>
    </header>

    <section class="space-content">
        <p>
            La boxe sollicite l'ensemble de votre corps.
            Vous renforcez vos muscles, améliorez votre endurance
            et développez votre coordination.
            Elle est un ensemble de plusieurs pratiques sportives.
        </p>
        <div class="content-all">
            <div class="content-1">
                <img src="{{ asset('build/images/boxe-1.jpg') }}" alt="Image 1 boxe">
                <p>
                    Avant chaque séance, échauffez-vous bien
                    pour préparer votre corps.
                    Le shadow-boxing (boxe dans le vide) vous permet
                    de répéter vos gestes et d'améliorer votre technique.
                </p>
            </div>
            <div class="content-2">
                <img src="{{ asset('build/images/boxe-2.jpg') }}" alt="Image 2 boxe">
                <p>
                    Nos cours de boxe se font généralement en groupe.
                    Vous partagez l'expérience avec d'autres passionnés,
                    ce qui favorise la motivation et l'entraide.
                    Nos coachs vous guident et vous aident à progresser.
                </p>
            </div>
            <div class="content-3">
                <img src="{{ asset('build/images/boxe-3.jpg') }}" alt="Image 3 boxe">
                <p>
                    Notre espace "Boxe" comporte 4 rings,
                    10 sacs de frappe, tout le matériel nécessaire,
                    et une partie réservée à l'échauffement.
                    Alors, qu'attendez-vous pour boxer ?
                </p>
            </div>
        </div>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            MUSCULATION
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CARDIO/ABDOS
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            CROSSFIT
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'sauna'}) }}">
            SAUNA/DÉTENTE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% if slug == 'sauna' %}

    <header class="space-header" style="background-image:url('{{ asset('build/images/sauna-header.jpg') }}')">
        <div class="header-title">
            <p class="header-title-p">SAUNA/DÉTENTE</p>
            <img class="header-title-img" src="{{ asset('build/images/sauna-icon.png') }}" alt="Logo Sauna">
        </div>
    </header>

    <section class="space-content">
        <p>
            Après une bonne séance, rien de tel qu'un passage
            par l'espace "Sauna/Détente" pour se ressourcer.
            Le sauna aide à détendre les muscles fatigués
            et à éliminer les toxines accumulées pendant l'exercice.
        </p>
        <div class="content-all">
            <div class="content-1">
                <img src="{{ asset('build/images/sauna-1.jpg') }}" alt="Image 1 sauna">
                <p>
                    L'espace détente est conçu pour offrir une atmosphère
                    apaisante et conviviale. Les lumières tamisées,
                    les arômes délicats et la musique douce créent
                    une ambiance propice à la relaxation. 
                </p>
            </div>
            <div class="content-2">
                <img src="{{ asset('build/images/sauna-2.jpg') }}" alt="Image 2 sauna">
                <p>
                    Le sauna ne se contente pas de détendre les muscles,
                    il a également des effets bénéfiques sur l'esprit.
                    La chaleur stimule la circulation sanguine, améliore
                    la qualité du sommeil et aide à réduire le stress.
                </p>
            </div>
            <div class="content-3">
                <img src="{{ asset('build/images/sauna-3.jpg') }}" alt="Image 3 sauna">
                <p>
                    Intégrer un instant de détente à votre routine sportive
                    peut améliorer vos performances et votre récupération.
                    En plus de favoriser la détente musculaire, cela aidera à
                    prévenir les courbatures et à accélérer la récupération.
                </p>
            </div>
        </div>
    </section>

    <section class="space-links">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            MUSCULATION
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CARDIO/ABDOS
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            CROSSFIT
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            BOXE
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
        </a>
        <a href="{{ url('space') }}">
            <img src="{{ asset('build/images/orange-arrow.png') }}" alt="Flèche">
            LISTE DES ESPACES
        </a>
    </section>

{% endif %}

{% endblock %}