{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('news') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('news') }}
{% endblock %}

{% block title %}WP | Actualités{% endblock %}

{% block body %}

<section class="news-intro">
    <h1>
        TOUJOURS À LA POINTE<br>
        DE L'ACTUALITÉ !
    </h1>
    <p>
        Ici, vous trouverez tout un tas d'actualités !
        Que ce soit des programmes sportifs pour tous
        et spécialisés, jusqu'à nos recettes healthy et protéinées,
        en passant par de belles découvertes et surprises !
        Chaque semaine aura son lot de nouveautés.
    </p>
</section>

<div class="news-title">
    <h2>PROGRAMMES</h2>
</div>

<section class="news-section">
    <div class="news">
        <div class="news-image" style="background-image: url('{{ asset('build/images/workout.webp') }}');">
            <a class="one-line-title" href="{{ path('news.show', {slug: 'full-body'}) }}">
                PROGRAMME FULL BODY
            </a>
        </div>
    </div>
    <div class="news">
        <div class="news-image" style="background-image: url('{{ asset('build/images/perte-poids.webp') }}');">
            <a class="two-lines-title" href="{{ path('news.show', {slug: 'perte-poids'}) }}">
                PROGRAMME SPÉCIAL<br>
                PERTE DE POIDS
            </a>
        </div>
    </div>
</section>

<div class="news-title">
    <h2>DÉCOUVERTES</h2>
</div>

<section class="news-section">
    <div class="news">
        <div class="news-image" style="background-image: url('{{ asset('build/images/playlist.webp') }}');">
            <a class="one-line-title" href="{{ path('news.show', {slug: 'playlist'}) }}">
                PLAYLIST DE LA SEMAINE
            </a>
        </div>
    </div>
    <div class="news">
        <div class="news-image" style="background-image: url('{{ asset('build/images/men-outfit.webp') }}');">
            <a class="two-lines-title" href="{{ path('news.show', {slug: 'nouvelle-collection'}) }}">
                NOUVELLE COLLECTION<br>
                WORKOUT PLACE
            </a>
        </div>
    </div>
</section>

<div class="news-title">
    <h2>RECETTES</h2>
</div>

<section class="news-section">
    <div class="news">
        <div class="news-image" style="background-image: url('{{ asset('build/images/poke.webp') }}');">
            <a class="one-line-title" href="{{ path('news.show', {slug: 'poke'}) }}">
                LE POKÉ HYPER PROTÉINÉ
            </a>
        </div>
    </div>
    <div class="news">
        <div class="news-image" style="background-image: url('{{ asset('build/images/meal-prep.webp') }}');">
            <a class="one-line-title" href="{{ path('news.show', {slug: 'meal-prep'}) }}">
                "MEAL PREP" DE L'ÉTÉ
            </a>
        </div>
    </div>
</section>

{% endblock %}