{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('choose_subscription') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('choose_subscription') }}
{% endblock %}

{% block title %}WP | Choisir un abonnement{% endblock %}

{% block body %}

<section class="choose_subscription">

    <h1>CHOISISSEZ UN ABONNEMENT</h1>

    <div class="subscriptions-buttons">

        <a href="{{ path('app_choose_subscription')}}" class="classic-button">CLASSIC</a>
        <a href="{{ path('app_choose_subscription')}}" class="max-button">MAX</a>
        <a href="{{ path('app_choose_subscription')}}" class="ultra-button">ULTRA</a>

    </div>

</section>

{% endblock %}
