{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('choose_subscription') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('choose_subscription') }}
{% endblock %}

{% block title %}WP | Choisir un abonnement{% endblock %}

{% block body %}

<section class="choose_subscription">

    <h1>CHOISISSEZ UN ABONNEMENT</h1>

    <div class="sub-content">

        {% if subscription %}
            <div class="sub-saved">
                <p>
                    Vous avez choisi l'abonnement <span>{{ subscription }}</span>.
                    <br>
                    Merci de venir finaliser votre inscription au club.
                </p>
                <a class="sub-saved-button" href="{{ url('contact') }}">NOUS TROUVER</a>
            </div>

        {% else %}
            <div class="sub-form">
                <form action="{{ path('app_choose_subscription') }}" method="POST">
                    <div class="sub-radio">
                            <input type="radio" id="classic" name="subscription_name" value="CLASSIC" class="radio">
                            <label class="label-1" for="classic">CLASSIC</label>
                        
                            <input type="radio" id="max" name="subscription_name" value="MAX" class="radio">
                            <label class="label-2" for="max">MAX</label>
                        
                            <input type="radio" id="ultra" name="subscription_name" value="ULTRA" class="radio">
                            <label class="label-3" for="ultra">ULTRA</label>
                    </div>
                    <button class="sub-submit-button" type="submit">S'ABONNER</button>
                </form>
            </div>

        {% endif %}

        {#
        {% for messages in { 'success': app.flashes('success'), 'error': app.flashes('error') } %}
            {% for message in messages %}
                <div class="alert">
                        {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        #}

    </div>

</section>

{% endblock %}
