{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}

{% block title %}WP | Contact{% endblock %}

{% block body %}

<header style="background-image:url('{{ asset('build/images/contact.jpg') }}')">
    <p>CONTACT</p>
</header>

<section class="contact">
    <p class="contact-intro">
        Vous avez une question à nous poser ou une remarque dont vous voulez nous faire part ?<br>
        Contactez-nous grâce au formulaire ci-dessous, laissez votre message et nous y répondrons au plus vite.<br>
        Vous trouverez également nos différentes coordonnées et horaires en bas de page.
    </p>

    <div class="contact-form">
        <div class="success-message">
            {% for message in app.flashes('success') %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {# {{ form(form) }} #}
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            <br>
            {{ form_row(form.subject) }}
            <br>
            {{ form_row(form.message) }}
            <br>
            <div class="button-form">{{ form_row(form.submit) }}</div>
        {{ form_end(form) }}
    </div>

    <div class="contact-infos">
        <h3>NOUS TROUVER</h3>
        <p>
            5 Boulevard Général de Gaulle
            <br>
            21000 DIJON
        </p>
        <h3>INFORMATIONS DE CONTACT</h3>
        <p>
            03.80.23.23.23
            <br>
            contact.workoutplace@gmail.com
        </p>
        <h3>HORAIRES</h3>
        <p>
            Ouvert 7j/7 24h/24
            <br>
            Accueil ouvert tous les jours de 8h à 18h
        </p>
    </div>
</section>

{% endblock %}