{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('lesson') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('lesson') }}
{% endblock %}

{% block title %}Workout Place | Cours{% endblock %}

{% block body %}

<section class="basic-lessons">
    <h1>
        PROFITEZ DE NOS<br>
        DIFFÉRENTS COURS
    </h1>
    <p>(Accessibles à tous)</p>
    <div class="basic" style="background-image: url('{{ asset('build/images/pilates.jpg') }}');">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            PILATES
        </a>
    </div>
    <div class="basic" style="background-image: url('{{ asset('build/images/rpm.jpg') }}');">
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            RPM
        </a>
    </div>
    <div class="basic" style="background-image: url('{{ asset('build/images/hiit-step.jpg') }}');">
        <a href="{{ path('space.show', {slug: 'crossfit'}) }}">
            HIIT STEP
        </a>
    </div>
    <div class="basic" style="background-image: url('{{ asset('build/images/yoga.jpg') }}');">
        <a href="{{ path('space.show', {slug: 'boxe'}) }}">
            YOGA
        </a>
    </div>
</section>

<section class="premium-lessons">
    <h1>LES PREMIUM</h1>
    <p>(Réservés aux abonnés MAX et ULTRA)</p>
    <div class="premium" style="background-image: url('{{ asset('build/images/body-attack.jpg') }}');">
        <a href="{{ path('space.show', {slug: 'musculation'}) }}">
            BODY ATTACK
        </a>
    </div>
    <div class="premium" style="background-image: url('{{ asset('build/images/cross-training.jpg') }}');">
        <a href="{{ path('space.show', {slug: 'cardio-abdos'}) }}">
            CROSS TRAINING
        </a>
    </div>
</section>

{% endblock %}
